<div class="jumbotron mt-4">
    <h1 class="display-4"> Prueba Tecnica NodeJs</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolorem nobis aliquam repellat totam. Sequi quos ipsa dicta optio ea?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione harum, reprehenderit tenetur repudiandae vel, aliquam mollitia eligendi eveniet consequuntur rerum dolore a porro quaerat animi iste obcaecati est officia adipisci. Aut ab illum perferendis illo molestias animi ipsam debitis!</p>
    
</div>